/*
index.css
---------
*/

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
}

h1 { /* Header */
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: #911C1C;
}

h2 { /* Nom des photographes */
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
}

h3 { /* Tags navbar */
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
}

h4 { /* Localisation */
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
}

h5 { /* Prix */
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
}

h6 { /* Passer au contenu */
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: black;
}

p { /* Texte lambda */
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
}

a {
    text-decoration: none;
}

/* CSS HEADER */

.container-sticky {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 50%;
    margin: 6px 0px 6px -91px;
}

#retour-contenu {
    width: 182px;
    height: 30px;
    background-color: #DB8876;
    border-radius: 7px;
    display: none;
    justify-content: center;
    align-items: center;
}

.showContenu {
    display: flex;
}

.container-header {
    width: 1366px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin: 45px auto;
}

.header-logo {
    display: block;
}

#logo {
    width: auto;
    height: auto;
    display: inline;
    order: 0;
}

/* Navigation bar */

.navbar {
    display: flex;
    flex-direction: row;
    order: 0;
}

.nav-tag {
    display: inline-block;
    border: 0.5px solid #C4C4C4;
    border-radius: 50px;
    padding: 2px 7px 2px 7px;
    margin: 3px;
    color: #911C1C;
    background-color: #FFFFFF;
    transition: 0.1s ease-in;
    cursor: pointer;
}

.nav-tag:hover {
    border: 0.5px solid #911C1C;
    background-color: #911C1C;
    color: #E5E5E5;
}

/* */

.titre {
    order: 0;
}

/* CSS MAIN */

.container_photographes { /* Conteneur englobant tous les panels */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

.panel-photographe { /* Panel englobant toute les informations du photographe */
    width: 305px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 105px 20px 105px;
}

.link-photographe { /* Englobe l'avatar et le nom du photographe */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-avatar { /* Container de l'avatar du photographe */
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0px 8px 10px #C4C4C4;
}

.infos-photographe { /* Regroupe le nom, la localisation, le texte de présentation et le prix du photographe */
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nom-photographe { /* Nom du photographe */
    color:#D3573C;
    margin: 20px 0px 0px 0px;
}

.localisation-photographe {
    display: flex;
}

.localisation { /* Localisation du photographe */
    color: #901C1C;
    margin: 0px 3px 3px 3px;
}

.text-photographe { /* Texte de présentation du photographe */
    margin: 0px 0px 3px 0px;
}

.prix { /* Prix à la journée du photographe */
    color: #757575;
    margin: 0px 0px 0px 0px;
}

.tagsbar { /* Tags du photographe */
    display: flex;
    flex-direction: row;
    margin: -2px 0px 0px 0px;
}

@media only screen and (min-width: 1280px) and (max-width: 1545px) { /* Réglage de la largeur du container des panels photographe */

    .panel-photographe {
        margin: 50px 50px 20px 50px;
    }

}

/* CSS - FORMAT TABLETTE */

@media only screen and (min-width: 768px) and (max-width: 1280px) {

    .container-header {
        flex-direction: column;
        width: auto;
    }

    .container_photographes {
        width: auto;
    }

    .panel-photographe {
        margin: 25px;
    }

}

/* CSS - FORMAT MOBILE - GRAND FORMAT */

@media only screen and (max-width: 767px) {

    .container-header {
        width: auto;
        margin: 40px 10px 0px 10px;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #logo {
        width: 40%;
        height: auto;
        margin: 0px 20px 0px 0px;
    }

    .header-logo {
        display: contents;
    }

    h1 {
        font-size: 16px;
    }

    .titre {
        order: 2;
    }

    .navbar {
        margin: 20px 10px 10px 10px;
        flex-wrap: wrap;
        justify-content: center;
        order: 3;
    }

    .container_photographes {
        width: auto;
    }

    .panel-photographe {
        margin: 25px;
    }

}

/* CSS - FORMAT MOBILE - MOYEN FORMAT */

@media only screen and (min-width: 321px) and (max-width : 375px) {
    
    #logo {
        width: 40%;
        height: auto;
    }

}

/* CSS - FORMAT MOBILE - PETIT FORMAT */

@media only screen and (max-width: 320px) {

    h2 {
        font-size: 30px;
    }

    #logo {
        width: 40%;
        height: auto;
    }

}