/*
index.css
---------
*/

* {
    box-sizing: border-box;
    /* background-color: #E5E5E5; */
}

html {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
}

h1 { /* Header */
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: #911C1C;
}

h2 { /* Nom des photographes */
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
}

h3 { /* Tags navbar */
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
}

h4 { /* Localisation */
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
}

h5 { /* Prix */
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
}

p { /* Texte lambda */
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
}

a {
    text-decoration: none;
}

/* CSS HEADER */

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin: 20px 0px 0px 0px;
}

.header-logo {
    display: block;
}

#logo {
    height: auto;
    display: inline;
}

/* Navigation bar */

.navbar {
    display: flex;
    flex-direction: row;
}

.nav-tag {
    border: 0.5px solid #C4C4C4;
    border-radius: 50px;
    padding: 2px 7px 2px 7px;
    margin: 3px;
    color: #911C1C;
    transition: 0.1s ease-in;
}

.nav-tag:hover {
    border: 0.5px solid #911C1C;
    background-color: #911C1C;
    color: #E5E5E5;
}

/* CSS MAIN */

.container_photographes { /* Conteneur englobant tous les panels */
    display: flex;
    justify-content: center;
    width: 85%;
    flex-wrap: wrap;
    margin: auto;
}

.panel-photographe { /* Panel englobant toute les informations du photographe */
    width: 305px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.link-photographe { /* Englobe l'avatar et le nom du photographe */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar { /* Avatar du photographe */
    z-index: 1;
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0px 8px 10px #C4C4C4;
}

.infos-photographe { /* Regroupe le nom, la localisation, le texte de présentation et le prix du photographe */
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nom-photographe { /* Nom du photographe */
    color:#D3573C;
    margin: 20px 0px 0px 0px;
}

.localisation { /* Localisation du photographe */
    color: #901C1C;
    margin: 0px 0px 3px 0px;
}

.text-photographe { /* Texte de présentation du photographe */
    margin: 0px 0px 3px 0px;
}

.prix { /* Prix à la journée du photographe */
    color: #757575;
    margin: 0px 0px 0px 0px;
}

.tagsbar { /* Tags du photographe */
    display: flex;
    flex-direction: row;
    margin: -2px 0px 0px 0px;
}