/*
photographer-page.css
---------
*/

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'DM Sans', sans-serif;
    width: 1440px;
    margin: auto;
}

h1 { /* Nom des photographes */
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    color: #D3573C;
}

h2 { 
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
}

h3 { /* Tags navbar */
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
}

h4 { /* Localisation */
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

h5 { /* Menus */
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

h6 { /* Passer au contenu */
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: black;
}

p { /* Texte lambda */
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
}

a {
    text-decoration: none;
}

/* CSS HEADER */

.container-sticky {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 50%;
    margin: 6px 0px 6px -91px;
}

#retour-contenu {
    width: 182px;
    height: 30px;
    background-color: #DB8876;
    border-radius: 7px;
    display: none;
    justify-content: center;
    align-items: center;
}

.showContenu {
    display: flex;
}

header {
    display: flex;
    justify-content: start;
    margin: 45px 0px 45px 0px;
}

.header-logo {
    display: block;
}

#logo {
    display: inline;
}

/* MAIN */

.navbar {
    display: flex;
    flex-direction: row;
    order: 0;
}

.nav-tag {
    display: inline-block;
    border: 0.5px solid #C4C4C4;
    border-radius: 50px;
    padding: 2px 7px 2px 7px;
    margin: 3px;
    color: #911C1C;
    background-color: #FFFFFF;
    transition: 0.1s ease-in;
    cursor: pointer;
}

.nav-tag:hover {
    border: 0.5px solid #911C1C;
    background-color: #911C1C;
    color: #E5E5E5;
}

#container_photographer {
    background-color: #fafafa;
    width: 100%;
    height: 313px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.container-avatar { /* Container de l'avatar du photographe */
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0px 8px 10px #C4C4C4;
}

.container-avatar img{
    display:inline-block;
    width:200px;
    height:200px;
    object-fit:cover;
}

.nom-photographe { /* Nom du photographe */
    color:#D3573C;
    margin: 0px;
}

.name_button {
    display: flex;
    align-items: center;
}

.contact {
    cursor: pointer;
    width: 135px;
    height: 50px;
    background-color: #901C1C;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px 75px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: white;
    transition: 0.1s ease-in;
}

.contact:hover, .contact:focus {
    background-color: #D3573C;
    color: black;
}

.localisation-photographe {
    display: flex;
}

.localisation { /* Localisation du photographe */
    color: #901C1C;
    margin: 3px;
}

.text-photographe { /* Texte de présentation du photographe */
    margin: 10px 3px 10px 3px;
    color: #525252;
    font-size: 18px;
}

.bground {
    display: block;
}

.filter {
    display: flex;
}

.filter_select {
    background-color: #901C1C;
    color: white;
    margin: 20px;
    padding: 10px;
    width: 170px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.filter_select:hover, .filter_select:checked {
    box-shadow: 0 0 10px 100px #901C1C inset;
}

.separator {
    color: white;
}

#container_photos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;
}

.panel_photo {
    margin: 0px 30px 10px 30px;
}

.photo_box {
    width: 350px;
    height: 300px;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
}

.photo {
    display: inline-block;
    width: 350px;
    height: 350px;
    object-fit: cover;
}

.name_like {
    color: #901C1C;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -20px;
}

.like_counter {
    display: flex;
    flex-direction: row;
}

.like_number {
    padding-right: 5px;
}

.heart {
    width: 22px;
    height: auto;
}

.container_sticky {
    display: flex;
    justify-content: right;
    position: sticky;
    bottom: 0;
    z-index: 2;
}

.container_likeprice {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 376px;
    height: 65px;
    padding: 25px;
    background-color: #DB8876;
    border-radius: 5px;
}

.total_like {
    display: flex;
    align-items: center;
}

.photographer_likes {
    margin: 5px;
    font-weight: 500;
}

.price {
    font-weight: 500;
}