/*
photographer-page.css
---------
*/

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
}

h1 { /* Header */
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: #911C1C;
}

h2 { /* Nom des photographes */
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
}

h3 { /* Tags navbar */
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
}

h4 { /* Localisation */
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
}

h5 { /* Prix */
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
}

p { /* Texte lambda */
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
}

a {
    text-decoration: none;
}

/* CSS HEADER */

.container-sticky {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 50%;
    margin: 6px 0px 6px -91px;
}

#retour-contenu {
    width: 182px;
    height: 30px;
    background-color: #DB8876;
    border-radius: 7px;
    display: none;
    justify-content: center;
    align-items: center;
}

.showContenu {
    display: flex;
}

header {
    display: flex;
    justify-content: start;
    margin: 45px 0px 45px 100px;
}

.header-logo {
    display: block;
}

#logo {
    display: inline;
}