/*
photographer-page.css
---------
*/

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'DM Sans', sans-serif;
    width: 1440px;
    margin: auto;
}

h1 { /* Nom des photographes */
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    color: #D3573C;
}

h2 { 
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
}

h3 { /* Tags navbar */
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
}

h4 { /* Localisation */
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

h5 { /* Prix */
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
}

p { /* Texte lambda */
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
}

a {
    text-decoration: none;
}

/* CSS HEADER */

.container-sticky {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 50%;
    margin: 6px 0px 6px -91px;
}

#retour-contenu {
    width: 182px;
    height: 30px;
    background-color: #DB8876;
    border-radius: 7px;
    display: none;
    justify-content: center;
    align-items: center;
}

.showContenu {
    display: flex;
}

header {
    display: flex;
    justify-content: start;
    margin: 45px 0px 45px 100px;
}

.header-logo {
    display: block;
}

#logo {
    display: inline;
}

/* MAIN */

.navbar {
    display: flex;
    flex-direction: row;
    order: 0;
}

.nav-tag {
    display: inline-block;
    border: 0.5px solid #C4C4C4;
    border-radius: 50px;
    padding: 2px 7px 2px 7px;
    margin: 3px;
    color: #911C1C;
    background-color: #FFFFFF;
    transition: 0.1s ease-in;
    cursor: pointer;
}

.nav-tag:hover {
    border: 0.5px solid #911C1C;
    background-color: #911C1C;
    color: #E5E5E5;
}

#container_photographer {
    background-color: #fafafa;
    width: 1240px;
    height: 313px;
    border-radius: 5px;
    margin: 0px 100px 0px 100px;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.container-avatar { /* Container de l'avatar du photographe */
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0px 8px 10px #C4C4C4;
}

.container-avatar img{
    display:inline-block;
    width:200px;
    height:200px;
    object-fit:cover;
}

.nom-photographe { /* Nom du photographe */
    color:#D3573C;
    margin: 0px;
}

.localisation-photographe {
    display: flex;
}

.localisation { /* Localisation du photographe */
    color: #901C1C;
    margin: 3px;
}

.text-photographe { /* Texte de présentation du photographe */
    margin: 10px 3px 10px 3px;
    color: #525252;
    font-size: 18px;
}